$primary: var(--primary);
$secondary: var(--secondary);
$background: var(--background);
$border: var(--border);
$activeSvg: var(--activeSvg);
$contrast-text: var(--contrast-text);
$contrast: var(--contrast);
$hover: var(--hover);
$positive-shadow: var(--positive-shadow);
$negative-shadow: var(--negative-shadow);

@mixin dark-theme {
  --primary: #c7c7c7;
  --secondary: #8b8b92;
  --background: #111111;
  --border: #333333;
  --activeSvg: #3d3d3d;
  --contrast-text: #ececec;
  --contrast: #a268ff;
  --hover: #1b1b1b;
  --negative-shadow: #1b1b1b;
  --positive-shadow: #070707;
}

@mixin light-theme {
  --primary: #1C2833;
  --secondary: #4d4d4d;
  --background: #e0e0e0;
  --border: #9e9e9e;
  --activeSvg: #aaaaaa;
  --contrast-text: #080808;
  --contrast: #ff004c;
  --hover: #c9c9c9;
  --negative-shadow: #ffffff;
  --positive-shadow: #bebebe;
}

:root {
  @include dark-theme;

  @media (prefers-color-scheme: dark) {
    @include dark-theme;
  }

  @media (prefers-color-scheme: light) {
    @include light-theme;
  }
}