$primary: var(--primary);
$secondary: var(--secondary);
$background: var(--background);
$border: var(--border);
$activeSvg: var(--activeSvg);
$contrast-text: var(--contrast-text);
$contrast: var(--contrast);
$hover: var(--hover);
$positive-shadow: var(--positive-shadow);
$negative-shadow: var(--negative-shadow);