.hidden {
    opacity: 0;
    filter: blur(.5rem);
    transition: 1.5s ease-in-out;
    transition-property: transform, opacity, filter;
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: 1.5s ease-in-out;
    transition-property: transform, opacity, filter;
}

[data-anime="top"] {
    transform: translate3d(0, -10rem, 0);
}

[data-anime="top-left"] {
    transform: translate3d(-10rem, -10rem, 0);
}

[data-anime="top-right"] {
    transform: translate3d(10rem, -10rem, 0);
}

[data-anime="left"] {
    transform: translate3d(-10rem, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(10rem, 0, 0);
}

[data-anime="bottom"] {
    transform: translate3d(0, 10rem, 0);
}

[data-anime="bottom-left"] {
    transform: translate3d(-10rem, 10rem, 0);
}

[data-anime="bottom-right"] {
    transform: translate3d(10rem, 10rem, 0);
}

.show[data-anime] {
    transform: translate3d(0, 0, 0);

}

[data-anime] {
    transition-delay: var(--delay);
}

@media (max-width: 1000px) {
    .img-aside {
        transition-delay: .3s;

    }
    .link-aside {
        transition-delay: .5s;
    }

}

@keyframes upDown {
    0%, 100% {
      transform: translate3d(0, -2px, 0);
    }
    50% {
      transform: translate3d(0, 2px, 0);
    }
}

@keyframes socialBtn {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(-20deg);
    }
    25% {
        transform: rotate(90deg);
    }
    35% {
        transform: rotate(70deg);
    }
    45% {
        transform: rotate(180deg);
    }
    55%{
        transform: rotate(160deg);
    }
    70% {
        transform: rotate(270deg);
    }
    80% {
        transform: rotate(250deg);
    }
    90% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(340deg);
    }
}

@keyframes showContentBT {
    from {
        top: 20vh;
    }
    to {
        top: 10vh;
    }
}

@keyframes showModal {
    0% {
        transform: scale(.3);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes showText {
    0% {
        transform: translate3d(-20%, 0,0);
        filter: blur(.5rem);

    }
    50% {
        transform: translate3d(20px, 0,0);
    }
    100% {
        transform: translate3d(0, 0,0);
        opacity: 1;
        filter: blur(0rem);
    }
}

@keyframes showSkillText {
    0% {
        opacity: 0;
        filter: blur(.5rem);
        transform: translate3d(0, 60px,0);
    }
    50% {
        transform: translate3d(0, -10px,0);
    }
    100% {
        transform: translate3d(0, 0px,0);
        filter: blur(0rem);
        opacity: 1;

    }
}

@keyframes showModalEmail {
    0% {
        display: block;
    }
    100% {
        display: none;
    }
}

@keyframes showUnderscore {
    from {
      width: 0%;
    }
    to {
      width: 3rem;
    }
  }