// Primary and Secondary Colors
$primary: #c7c7c7;
$secundary: #8b8b92;

// Background and Border Colors
$background: #111111;
$border: #333333;

// SVG Active Color
$activeSvg: #3d3d3d;

// Contrast Color
$contrast-text: #ececec;
$contrast: #a268ff;