#about {
  padding-top: 10vh;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: 15vh;
  position: relative;
}

.about-paragraphs p:last-child {
    span {
      color: $contrast-text;
    }
}

.btn-cv {
  @include boxShadow(3px, -3px, 10px);
  color: $contrast-text;
  border-radius: .5rem;
  padding: 1rem 2rem;
  margin-top: 4rem;
  span {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
  }
  .svg {
    transition: .2s all ease-in-out;
    fill: $contrast-text;
    animation: upDown 2s .8s infinite;
  }
  &:hover {
    @include insetBoxShadow(3px, -3px, 6px);
    transition: .2s all ease-in-out;
    text-decoration: none;
    font-size: 1.5rem;
    border-color: transparent;
    color: $activeSvg;
  .svg {
    fill: $activeSvg;
    animation: none;
   }
  }
}

.about-aside {
    width: clamp(20%, 90%, 45rem);
    .img-aside {
      width: 90%;
      display: block;
      object-fit: cover;
      border-radius: 1rem;
      margin: 0 auto 3rem auto;
      @include boxShadow(3px, -3px, 10px);
      &:hover {
        cursor: zoom-in;
      }
  }
  .link-aside {
    margin: 0 auto;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

.about-arrow {
  position: absolute;
  color: $contrast;
  bottom: -10vh;
  right: 0;
  animation: upDown 2s infinite;
}

  
.about-trainer {
  display: flex;
  flex-direction: column;
  padding: 8rem 0;
  gap: 10rem;

}

#about-college {
  display: flex;
  gap: 3rem;
  margin-bottom: 10rem;
}

.about-college-bar {
  min-width: .8rem;
  background-color: $primary;
  min-height: 45rem;
  border-radius: 1rem;
}

.about-college-list {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: center;
}

.about-college-item {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  max-width: max-content;
  span {
    color: $secondary;
    letter-spacing: .1rem;
    display: block;
    font-size: clamp(1.1rem, 1vw, 1.3rem);
    max-width: max-content;
  }
  a {
    color: $primary;
    font-weight: 400;
    letter-spacing: .15rem;
    font-size: clamp(1.6rem, 2vw, 1.9rem);
    text-decoration: underline;
    &:hover {
      color: $contrast-text;
    }
  }
  p {
    color: $secondary;
    letter-spacing: .1rem;
    font-size: clamp(1.3rem, 1vw, 1.7rem);
    max-width: max-content;

  }
  img {
    width: 14px;
    height: 14px;
  }
  &::after {
    content: "";
    position: absolute;
    background-color: $primary;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    left: -4.6rem ;
    top: 50%;
    transform: translateY(-50%);
  }
}

.about-courses {
  > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
    min-width: 100%;
  }
  .about-course-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: .2rem;
    font-weight: 400;
    min-width: 28rem;
    max-width: 100%;
    color: #e4e4e4;
    padding: 2rem;
    flex: 1 0 28rem;
    height: 25rem;
    border-radius: 1rem;
    @include boxShadow(3px, -3px, 12px);
    p {
      text-transform: uppercase;
    }
    span {
      text-transform: initial;
    }
    &:nth-child(1) {
        width: 100%;
        background: center / cover  no-repeat url('/src/assets/images/courses/JavaScript-Origamid.webp');
    }
    &:nth-child(2) {
      width: 100%;
      background: center / cover  no-repeat url('/src/assets/images/courses/JavaScript-OneBitCode.webp');
    }
    &:nth-child(3) {
      width: 100%;
      background: center / cover  no-repeat url('/src/assets/images/courses/EBAC.webp');
    }
  }
}

.about-course-header {
    display: flex;
    justify-content: space-between;
  .about-course-hours {
    text-transform: initial;
  }
}

.about-course-footer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  #about {
    flex-direction: column;
    gap: 6rem;
  }
  .paragraph {
    max-width: clamp(30ch, 80vw, 100%);
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  .about-aside {
    align-self: center;
    img {
      width: 100%;
      height: 20rem;
    }
  }
}

@media (max-width: 650px) {
  #about {
    padding-top: 5vh;
    gap: 3rem;
  }
  .about-arrow {
    display: none
  }
  .about-trainer {
    padding: 0;
  }
  .paragraph {
    max-width: 100%;
    margin-bottom: 2rem;
  }
}
