#contact {
    padding-top: 10vh;
    min-height: 80vh;
  
    .title {
      margin-bottom: 10vh;
    }
  }
  
  .contact_content {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    padding: 4rem;
    gap: 0 4rem;
    overflow: hidden;
    margin-bottom: 2rem;
    border-radius: 1rem;
    @include boxShadow(3px, -3px, 7px);
    @media (max-width: 400px) {
      padding: 1rem 3rem;
    }
  }
  
  .contact {
    border: 1px solid $border;
    flex: 1 0 25rem;
    border-radius: 1rem;
    color: $secondary;
    height: 25rem;
    margin: 2rem 0;
    @media (max-width: 400px) {
      flex: 1 0 20rem;
      min-height: 20rem;
    }
    .contact_svg {
      fill: $secondary;
      path {
        transition: .2s all ease-in-out;
      }
    }

    svg, h2, p {
      transition: .2s all ease-in-out;
      }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1.5rem;
      min-width: 100%;
      min-height: 100%;
    }

    h2 {
      font-size: 3rem;
    }
  
    p {
      font-size: 1.8rem;
    }
  
    &:hover {
      transition: .2s all ease-in-out;
      @include insetBoxShadow(4px, -4px, 8px);
      border-color: transparent;
      .contact_svg {
        transform: scale(.9);
      }
      path, h2, p {
        color: $activeSvg;
        fill: $activeSvg;

      }
      h2 {
        font-size: 2.7rem;
      }
  
      p {
        font-size: 1.5rem;
      }
    }
  }

  #assinc-email {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    padding: 2rem;
    border-radius: 1rem;
    z-index: 10;
    color: $contrast-text;
    background-color: $background;
    @include boxShadow(5px, -5px, 8px);
    animation: showModalEmail 3s forwards;
    span {
      font-size: 1.8rem;
      font-weight: 400;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;
      margin-bottom: .5rem;
    }
  }