#loading {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: none;
    place-content: center;
    z-index: 10;
    background: #0f0f0f40;
    backdrop-filter: blur( .5rem );
    -webkit-backdrop-filter: blur( .5rem );
    img {
        width: 80px;
        animation: spinner linear 1s infinite;
    }
}

body.loading {
    overflow: hidden;
    #loading {
        display: grid;
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

