#pre-loader, #loading {
    @include loader;
    svg {
        color: $contrast;
        animation: spinner linear 1s infinite;
    }
  }
  #pre-loader.hidden {
    display: none;
  }


body.loading {
    overflow: hidden;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
